body{
    background-color: #F3EBF6;
    font-family: 'Ubuntu', sans-serif;
    padding-top: 100px;
    padding-bottom: 100px;
}

.center{
    text-align: center;
    padding-top: 30px;
    padding-bottom: 30px;
    background-color: white;
    width: 500px;
    height: 550px;
    margin:  auto;
    border-radius: 1.5em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}
.stext{
    padding-bottom: 30px;
    color: #4272D7;
    font-size: 32px;
    font-family: 'Ubuntu', sans-serif;
    font-weight: bold;
}
.sbtn{
    background-color: #4272D7;
    color: white;
    margin-top: 20px;
    cursor: pointer;
    border-radius: 5em;
    border: 0;
        padding-left: 40px;
        padding-right: 40px;
        padding-bottom: 10px;
        padding-top: 10px;
        font-family: 'Ubuntu', sans-serif;
    
        font-size: 13px;
        box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}
.un{
    width: 76%;
    color: rgb(38, 50, 56);
    font-weight: 700;
    font-size: 14px;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border: none;
    border-radius: 20px;
    outline: none;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 12px;
    margin-top: 12px;
    text-align: center;
    font-family: 'Ubuntu', sans-serif;
}