<body class="theme-blush">
    <section class="content">
        <div class="body_scroll">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h2>Data Visualization</h2>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"
                            title="Next">
                            <i class="zmdi zmdi-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>
            <div class="container-fluid">
                <div class="row clearfix">
                    <div class="col-md-12 col-sm-12 col-xs-12">
                        <div class="card">
                            <div class="header">
                                <h6>Options</h6>
                            </div>
                            <div class="body">
                                <div class="row col-6">
                                    <div style="cursor: pointer" [ngClass]="{'active': isBGVisible}"
                                        class="col border-d active">
                                        <p (click)="onBGClick()">Bar Graph</p>
                                    </div>
                                    <div style="cursor: pointer" [ngClass]="{'active': isSPVisible}"
                                        class="col border-d">
                                        <p (click)="onSPClick()">Scatter Plot</p>
                                    </div>
                                    <div style="cursor: pointer" [ngClass]="{'active': isLGVisible}"
                                        class="col border-d">
                                        <p (click)="onLGClick()">Line Graph</p>
                                    </div>
                                </div>
                                <br>
                                <div class="row">
                                    <div class="col-3">
                                        <label for="column">Column</label>
                                        <select class="form-control show-tick ms" id="column" name="column"
                                            [(ngModel)]="model['x']">
                                            <option>Select Column</option>
                                            <option *ngFor="let item of columns" value="{{item}}">
                                                {{item}}
                                            </option>
                                        </select>
                                    </div>
                                    <div class="col-3">
                                        <label for="">Class</label>
                                        <select class="form-control show-tick ms" id="column" name="column"
                                            [(ngModel)]="model['y']">
                                            <option>Select Column</option>
                                            <option *ngFor="let item of columns" value="{{item}}">
                                                {{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>

                                <div class="row">
                                    <div class="col-6" style="text-align: end;">
                                        <button (click)="createPlot()" type="button"
                                            [disabled]="model['x'] == 'Select Column' || model['y'] == 'Select Column'"
                                            class="btn btn-primary">Plot</button>
                                    </div>

                                </div>
                            </div>
                            <div class="card" *ngIf="image">
                                <div class="header">
                                    <h6>Graph</h6>
                                </div>
                                <div class="body">
                                    <div class="row col">
                                        <img src="{{image}}" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>

    </section>
</body>