<div class="wrapper">
    <nav id="sidebar" [ngClass]="{'active':isOpen}">
        <div class="sidebar-header">
            <h3>Deep Learning Studio</h3>
            <strong>DLSc</strong>
        </div>

        <ul class="list-unstyled components">
            <li>
                <a href="#">
                    <i class="fas fa-address-book"></i>
                    Description
                </a>
            </li>
            <li class="active">
                <a href="#homeSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-random"></i>
                    PreProcessing
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fas fa-images"></i>
                    Visualization
                </a>
                <a href="#pageSubmenu" data-toggle="collapse" aria-expanded="false" class="dropdown-toggle">
                    <i class="fas fa-copy"></i>
                    Model
                </a>

            </li>
            <li>
                <a href="#">
                    <i class="fas fa-image"></i>
                    Training
                </a>
            </li>
            <li>
                <a href="#">
                    <i class="fas fa-question"></i>
                    Results
                </a>
            </li>
        </ul>
    </nav>
    <div id="content">
        <h1>Data Visualization</h1>
        <select id="column" name="column" [(ngModel)]="model['x']">
            <option *ngFor="let item of columns" value="{{item}}">
                X: {{item}}
            </option>
        </select>

        <select id="column" name="column" [(ngModel)]="model['y']">
            <option *ngFor="let item of columns" value="{{item}}">
                Y: {{item}}
            </option>
        </select>
        <button (click)="createPlot()">Plot</button>
        <div *ngIf="image">
            <img src="{{image}}" />
        </div>
        <!-- <br>
        <div>
            <div style="display: block">
                <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
                    [legend]="barChartLegend" [chartType]="'line'">
                </canvas>
            </div>
        </div> -->

    </div>

</div>