body {
    font-family: Comfortaa;
}

.drop {
    color: #202124;
    font-size: 13px;
    font-weight: 500;
    background: transparent;
    border-radius: 0;
    border: 1px solid transparent;
    box-shadow: inset 0 -1px 0 0 rgb(0 0 0 / 12%);
    box-sizing: border-box;
    display: inline-block;
    overflow: hidden;
    padding: 0 12px 2px;
    vertical-align: middle;
    min-width: 250px;
}

.bg-white {
    background-color: white;
    color: black;
}

.sfile {
    cursor: pointer;
    background-color: #2196F3;
    color: white;
    margin-right: 570px;
    padding: 10px;
    border: 1px white;
    border-radius: 20px;
    /* Style as you please, it will become the visible UI component. */
}

#upload-photo {
    opacity: 0;
    position: absolute;
    z-index: -1;
}

.tile {
    width: 100px;
    border-radius: 20px;
    justify-content: center;
    margin-right: 10px;
    padding-left: 10px;
}

.tiles {
    display: flex;
}

.ntiles {
    margin: 35px;
    padding: 10px;
    border-radius: 6px;
    box-shadow: 0 16px 24px 2px rgba(0, 0, 0, .14), 0 6px 30px 5px rgba(0, 0, 0, .12), 0 8px 10px -5px rgba(0, 0, 0, .2);
}

.border-d {
    border-bottom: 2px solid;
    margin: 5px;
}

.active {
    color: #4285f4;
}