/* You can add global styles to this file, and also import other style files */
@import url("assets/plugins/bootstrap/css/bootstrap.min.css");
@import url("assets/css/style.min.css");
@import '~prismjs/themes/prism-tomorrow.css';
