<app-navbar></app-navbar>

<section class="content">
    <div class="body">

        <!-- Nav tabs -->
        <ul class=" clr nav nav-tabs p-0 mb-3">
            <li class="nav-item"><a class="style" data-toggle="tab" routerLink="/description"
                    queryParamsHandling="preserve" routerLinkActive="active"><strong>Description</strong></a></li>
            <li class="nav-item"><a class="style" data-toggle="tab" routerLink="/preprocess"
                    queryParamsHandling="preserve" routerLinkActive="active"><strong>Pre Processing</strong></a></li>
            <li class="nav-item"><a class="style" data-toggle="tab" routerLink="/visualize"
                    queryParamsHandling="preserve" routerLinkActive="active"><strong>Visualization</strong></a></li>
            <li class="nav-item"><a class="style_active" data-toggle="tab" routerLink="/model"
                    queryParamsHandling="preserve" routerLinkActive="active"><strong>Model</strong></a></li>
        </ul>

    </div>
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Model</h2>
                </div>
            </div>
        </div>

        <div class="container-fluid">
            <!-- Vertical Layout -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>Algorithm</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row col-6">
                                <div style="cursor: pointer" [ngClass]="{'active': model.algo_type == 'Classification'}"
                                    class="col border-d active">
                                    <p (click)="onClassify()">Classification</p>
                                </div>
                                <div style="cursor: pointer" [ngClass]="{'active': model.algo_type == 'Regression'}"
                                    class="col border-d">
                                    <p (click)="onRegress()">Regression</p>
                                </div>
                                <div style="cursor: pointer" [ngClass]="{'active': model.algo_type == 'Clustering'}"
                                    class="col border-d">
                                    <p (click)="onCluster()">Clustering</p>
                                </div>
                            </div>
                            <br>
                            <div *ngIf="model.algo_type == 'Classification'" class="col">
                                <label for=""> Classification Algorithim</label>
                                <div class="clearfix">
                                    <select [(ngModel)]="model.algorithm" class="form-control show-tick ms"
                                        style="padding: 9px;">
                                        <option>Gaussian Naive Bayes</option>
                                        <option>Multinomial Naive Bayes</option>
                                        <option>Bernoulli Naive Bayes</option>
                                        <option>Decision Tree Classifier</option>
                                        <option>Random Forest</option>
                                        <option>Logistic Regression</option>
                                    </select>
                                </div>
                                <br>
                                <div *ngIf="model.algorithm == 'Decision Tree Classifier'" class="row col">
                                    <div class="col">
                                        <label for="">Criterion</label>
                                        <div class="clearfix">
                                            <select class="form-control show-tick ms" style="padding: 9px;"
                                                [(ngModel)]="decision_tree_classifier_params.criterion">
                                                <option>Gini</option>
                                                <option>Entropy</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col">
                                        <label for="">Splitter</label>
                                        <div class="clearfix">
                                            <select class="form-control show-tick ms" style="padding: 9px;"
                                                [(ngModel)]="decision_tree_classifier_params.splitter">
                                                <option>Best</option>
                                                <option>Random</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="model.algorithm == 'Random Forest'" class="row col">
                                    <div class="col">
                                        <label for="">Number of trees</label>
                                        <input type="number" class="form-control text-center" name="number"
                                            [(ngModel)]="random_forest_classifier_params.trees">
                                    </div>
                                    <div class="col">
                                        <label for="">Criterion</label>
                                        <div class="clearfix">
                                            <select class="form-control show-tick ms" style="padding: 9px;"
                                                [(ngModel)]="random_forest_classifier_params.criterion">
                                                <option>Gini</option>
                                                <option>Entropy</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="model.algorithm == 'Logistic Regression'" class="col">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="">Penalty</label>
                                            <div class="clearfix">
                                                <select class="form-control show-tick ms" style="padding: 9px;"
                                                    [(ngModel)]="logistic_regression_params.penalty">
                                                    <option>L2</option>
                                                    <option>L1</option>
                                                    <option>Elasticnet</option>
                                                    <option>None</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label for="">Maximum Iterations</label>
                                            <div class="clearfix">
                                                <input type="number" class="form-control text-center"
                                                    [(ngModel)]="logistic_regression_params.max_iter"
                                                    (change)="checkMaxIterationsLogReg()">
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="">Multi Class</label>
                                            <div class="clearfix">
                                                <select class="form-control show-tick ms" style="padding: 9px;"
                                                    [(ngModel)]="logistic_regression_params.multi_class">
                                                    <option>Auto</option>
                                                    <option>Ovr</option>
                                                    <option>Multinomial</option>
                                                </select>
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label for="">Solver</label>
                                            <div class="clearfix">
                                                <select class="form-control show-tick ms" style="padding: 9px;"
                                                    [(ngModel)]="logistic_regression_params.solver">
                                                    <option>LBFGS</option>
                                                    <option>Newton-cg</option>
                                                    <option>Liblinear</option>
                                                    <option>SAG</option>
                                                    <option>SAGA</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </div>

                            <div *ngIf="model.algo_type == 'Regression'" class="col">
                                <label for=""> Regression Algorithm</label>
                                <div class="clearfix">
                                    <select [(ngModel)]="model.algorithm" class="form-control show-tick ms"
                                        style="padding: 9px;">
                                        <option>Linear Regression</option>
                                        <option>Decision Tree Regressor</option>
                                        <option>Random Forest</option>
                                    </select>
                                </div>
                                <br>
                                <div *ngIf="model.algorithm == 'Random Forest'" class="row col">
                                    <div class="col-6">
                                        <label for="">Number of trees</label>
                                        <input type="number" class="form-control text-center" name="number">
                                    </div>
                                    <div class="col-6">
                                        <label for="">Criterion</label>
                                        <div class="clearfix">
                                            <select class="form-control show-tick ms" style="padding: 9px;">
                                                <option>Mean Squared Error</option>
                                                <option>Mean Absolute Error</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="model.algorithm == 'Linear Regression'" class="row col">
                                    <div class="col-6">
                                        <label for="">Normalize</label>
                                        <div class="clearfix">
                                            <select class="form-control show-tick ms" style="padding: 9px;"
                                                [(ngModel)]="linear_regression_params.normalize">
                                                <option>False</option>
                                                <option>True</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Fit Intercept</label>
                                        <div class="clearfix">
                                            <select class="form-control show-tick ms" style="padding: 9px;"
                                                [(ngModel)]="linear_regression_params.fit_intercept">
                                                <option>True</option>
                                                <option>False</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div *ngIf="model.algorithm == 'Decision Tree Regressor'" class="row col">
                                    <div class="col-6">
                                        <label for="">Criterion</label>
                                        <div class="clearfix">
                                            <select class="form-control show-tick ms" style="padding: 9px;"
                                                [(ngModel)]="decision_tree_regressor_params.criterion">
                                                <option>MSE</option>
                                                <option>MAE</option>
                                                <option>Poisson</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="col-6">
                                        <label for="">Splitter</label>
                                        <div class="clearfix">
                                            <select class="form-control show-tick ms" style="padding: 9px;"
                                                [(ngModel)]="decision_tree_regressor_params.splitter">
                                                <option>Best</option>
                                                <option>Random</option>
                                            </select>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <div *ngIf="model.algo_type == 'Clustering'" class="col">
                                <label for=""> Clustering Algorithim</label>
                                <div class="clearfix">
                                    <select [(ngModel)]="model.algorithm" class="form-control show-tick ms"
                                        style="padding: 9px;">
                                        <option>K-means</option>
                                        <option>Hierarchical Clustering</option>
                                    </select>
                                </div>
                                <br>
                                <div *ngIf="model.algorithm == 'K-means'" class="col">
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="">Number of Clustres</label>
                                            <div class="clearfix">
                                                <input type="number" class="form-control text-center"
                                                    [(ngModel)]="k_means_clustering_params.clusters">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label for="">Initial Points</label>
                                            <div class="clearfix">
                                                <select class="form-control show-tick ms" style="padding: 9px;"
                                                    [(ngModel)]="k_means_clustering_params.initial_points">
                                                    <option>Random</option>
                                                    <option>K-means++</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="row">
                                        <div class="col-6">
                                            <label for="">Maximum Iterations</label>
                                            <div class="clearfix">
                                                <input type="number" class="form-control text-center"
                                                    [(ngModel)]="k_means_clustering_params.max_iter">
                                            </div>
                                        </div>
                                        <div class="col-6">
                                            <label for="">Algorithm</label>
                                            <div class="clearfix">
                                                <select class="form-control show-tick ms" style="padding: 9px;"
                                                    [(ngModel)]="k_means_clustering_params.algorithm">
                                                    <option>Auto</option>
                                                    <option>Full</option>
                                                    <option>Elkan</option>
                                                </select>
                                            </div>
                                        </div>
                                    </div>
                                    <br>
                                    <div class="col text-center">
                                        <button class="btn btn-primary" (click)="train()">Train</button>
                                    </div>

                                </div>
                                <div *ngIf="model.algorithm == 'Hierarchical Clustering'">

                                </div>
                            </div>
                        </div>
                    </div>
                    <div *ngIf="model.algorithm != 'K-means'" class="card">
                        <div class="header">
                            <h2><strong>Utilities</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col-6">
                                    <label for="output_coulmn">Output</label>
                                    <div class="input-group spinner">
                                        <select class="form-control show-tick ms" style="padding: 9px;"
                                            name="output_coulmn" [(ngModel)]="utilities.output_coulmn">
                                            <option>Select Column</option>
                                            <option *ngFor="let item of columns" value="{{item}}">
                                                {{item}}
                                            </option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="">Split Dataset</label>
                                    <div class="row">
                                        <label for="customRange1" class="sp form-label">Training
                                            ({{utilities.validation_split}}%)</label>
                                        <div>
                                            <input style="width: 700px;" type="range" name="validationSplit"
                                                [(ngModel)]="utilities.validation_split" class="form-range"
                                                (change)="checkSplitRatio()" id="customRange1">
                                        </div>
                                        <label for="customRange1" class="sp form-label">Testing ({{100 -
                                            utilities.validation_split}}%) </label>
                                    </div>
                                </div>
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-primary" (click)="train()"
                                    [disabled]="utilities.output_coulmn == 'Select Column'">Train</button>
                            </div>
                        </div>
                    </div>

                    <div id="trainingdiv" class="card">
                        <div class="header">
                            <h2><strong>TRAINING</strong></h2>
                        </div>
                        <pre style="height: 400px; overflow-y: auto;" class="body" [innerHTML]="traininglogs"></pre>
                        <div *ngIf="trainingComplete" class="col text-center">
                            <button class="btn btn-success" data-toggle="modal" data-target="#exportModel"
                                aria-hidden="true" (click)="switchExportMethod()">Export Model</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="modal fade" id="exportModel" tabindex="-1" role="dialog">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title">Export Model</h4>
            </div>
            <div class="tsize modal-body">
                <div class="row col-6">
                    <div style="cursor: pointer" class="col border-d active_exp"
                        >Code
                    </div>
                </div>
                <br>
                <div class="row col">
                    <pre><code [innerHtml]="code" class="language-python"></code></pre>
                </div>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>