<aside id="leftsidebar" class="sidebar">
    <div class="navbar-brand">
        <button class="btn-menu ls-toggle-btn" type="button">
            <i class="zmdi zmdi-menu"></i>
        </button>
        <span class="m-l-10" routerLink="/dashboard" style="cursor: pointer;" routerLinkActive="active">Deep Learning
            Studio</span>
    </div>
    <div class="menu">
        <ul class="list">
            <li>
                <div class="user-info">
                    <a class="image" href=""><img src="assets/images/profile_av.jpg" alt="User" /></a>
                    <div class="detail">
                        <p>{{userName}}</p>
                    </div>
                </div>
            </li>
            <li>
                <a class="menu-toggle" style="cursor: pointer;" routerLink="/dashboard" routerLinkActive="active"><i
                        class="zmdi zmdi-assignment"></i><span>Home</span></a>
                <a class="menu-toggle" style="cursor: pointer;" (click)="logout()"><i
                        class="zmdi zmdi-assignment"></i><span>Sign Out</span></a>
            </li>
        </ul>
    </div>
</aside>