<!-- <div class="center">
    <p class="ltext">Login</p>
    <form #signinForm="ngForm" (ngSubmit)="onSubmit()">
        <input class="un" name="userName" [(ngModel)]="model.userName" type="text" placeholder="Username">
        <br>
        <input class="un" name="password" [(ngModel)]="model.password" type="password" placeholder="password">
        <br>
        <button class="lbtn" type="submit">Login</button>
        <p class="forgot">Forgot Password?</p>
        <p class="a">Create an account? <a href="">Sign up</a></p>
    </form>
</div> -->

<div class="bg-default">
    <div class="main-content">
        <!-- Navbar -->
        <nav class="navbar navbar-top navbar-horizontal navbar-expand-md navbar-dark">
            <div class="container px-4">
                <h1>Deep Learning Studio</h1>
            </div>
        </nav>
        <!-- Header -->
        <div class="header bg-gradient-primary py-7 py-lg-8">
            <div class="container">
                <div class="header-body text-center mb-7">
                    <div class="row justify-content-center">
                        <div class="col-lg-5 col-md-6">
                            <h1 class="text-white">Welcome!</h1>
                            <p class="text-lead text-light">Login to use Deep Learning Studio for free</p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="separator separator-bottom separator-skew zindex-100">
                <svg x="0" y="0" viewBox="0 0 2560 100" preserveAspectRatio="none" version="1.1"
                    xmlns="http://www.w3.org/2000/svg">
                    <polygon class="fill-default" points="2560 0 2560 100 0 100"></polygon>
                </svg>
            </div>
        </div>
        <!-- Page content -->
        <div class="container mt--8 pb-5">
            <div class="row justify-content-center">
                <div class="col-lg-5 col-md-7">
                    <div class="card bg-secondary shadow border-0">
                        <div class="card-header bg-transparent pb-5">
                            <div class="text-muted text-center mt-2 mb-3"><small>Sign in with</small></div>
                            <div class="btn-wrapper text-center">
                                <a href="#" class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon"><img
                                            src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/icons/common/github.svg"></span>
                                    <span class="btn-inner--text">Github</span>
                                </a>
                                <a href="#" class="btn btn-neutral btn-icon">
                                    <span class="btn-inner--icon"><img
                                            src="https://raw.githack.com/creativetimofficial/argon-dashboard/master/assets/img/icons/common/google.svg"></span>
                                    <span class="btn-inner--text">Google</span>
                                </a>
                            </div>
                        </div>
                        <div class="card-body px-lg-5 py-lg-5">
                            <div class="text-center text-muted mb-4">
                                <small>Or sign in with credentials</small>
                            </div>
                            <form role="form" #signinForm="ngForm" (ngSubmit)="onSubmit()">
                                <!-- <div class="form-group mb-3">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-email-83"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Email" type="email" name="email"
                                            [(ngModel)]="model.email" ngModel #email="ngModel"
                                            pattern="[a-z0-9._%+-]+@[a-z0-9.-]+\.[a-z]{2,3}$" required>
                                    </div>
                                </div>
                                <div *ngIf="email.touched">
                                    <p *ngIf="email.errors?.required" class="alert alert-danger small">Email is a
                                        required field!</p>
                                    <p *ngIf="email.errors?.pattern" class="alert alert-danger small">This is not a
                                        valid Email!!!</p>
                                </div> -->
                                <div class="form-group">
                                    <div class="input-group input-group-alternative mb-3">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="fas fa-user"></i></span>
                                        </div>
                                        <input class="form-control" placeholder="Username" type="text" name="userName"
                                            [(ngModel)]="model.userName" ngModel #userName="ngModel" required>
                                    </div>
                                </div>
                                <div *ngIf="userName.touched">
                                    <p *ngIf="userName.errors?.required" class="alert alert-danger small">Username is a
                                        required field!</p>
                                </div>
                                <div class="form-group">
                                    <div class="input-group input-group-alternative">
                                        <div class="input-group-prepend">
                                            <span class="input-group-text"><i class="ni ni-lock-circle-open"></i></span>
                                        </div>
                                        <input class="form-control" name="password" placeholder="Password"
                                            [type]="flags.fieldTextType ? 'text' : 'password'"
                                            [(ngModel)]="model.password" ngModel #password="ngModel"
                                            required>
                                            <div *ngIf="!flags.fieldTextType" class="input-group-append cursor-point" (click)="toggleFieldTextType()">
                                                <span class="input-group-text">
                                                    <i *ngIf="!flags.fieldTextType" class="fas fa-eye"></i>
                                                </span>
                                            </div>
                                            <div *ngIf="flags.fieldTextType" class="input-group-append cursor-point" (click)="toggleFieldTextType()">
                                                <span class="input-group-text">
                                                    <i class="fas fa-eye-slash"></i>
                                                </span>
                                            </div>
                                    </div>
                                </div>
                                <div *ngIf="password.touched">
                                    <p *ngIf="password.errors?.required" class="alert alert-danger small">Password is a
                                        required field!</p>
                                </div>
                                <div class="custom-control custom-control-alternative custom-checkbox">
                                    <input class="custom-control-input" id=" customCheckLogin" type="checkbox">
                                    <label class="custom-control-label" for=" customCheckLogin">
                                        <span class="text-muted">Remember me</span>
                                    </label>
                                </div>
                                <div class="text-center">
                                    <button type="submit" class="btn btn-primary my-4"
                                    [disabled]="password.errors || userName.errors">Sign in</button>
                                </div>
                            </form>
                        </div>
                    </div>
                    <div class="row mt-3">
                        <div class="col-6">
                            <a href="#" class="text-light"><small>Forgot password?</small></a>
                        </div>
                        <div class="col-6 text-right">
                            <a href="#" class="text-light"><small>Create new account</small></a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>