<app-navbar></app-navbar>

<body class="theme-blush">
    <section class="content">
        <div class="body_scroll">
            <div class="block-header">
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h2>Project Description</h2>
                    </div>
                    <div class="col-lg-5 col-md-6 col-sm-12">
                        <button class="btn btn-primary btn-icon float-right right_icon_toggle_btn" type="button"
                            title="Next" (click)="next()">
                            <i class="zmdi zmdi-arrow-right"></i>
                        </button>
                    </div>
                </div>
            </div>

            <div class="container-fluid">
                <!-- Vertical Layout -->
                <div class="row clearfix">
                    <div class="col-lg-12 col-md-12 col-sm-12">
                        <div class="card">
                            <div class="body">
                                <form>
                                    <label>Project Name</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" [(ngModel)]="model.name" name="projectname"
                                            placeholder="Enter your project name" pattern="^[\w\s]+$" ngModel #projectname="ngModel" required/>
                                    </div>
                                    <div *ngIf="projectname.touched">
                                        <p *ngIf="projectname.errors?.required" class="red small">Project Name must be entered</p>
                                        <p *ngIf="projectname.errors?.pattern" class="red small">Name can only contain alphabets, numbers and spaces</p>
                                    </div>
                                    <label>Project Description (optional)</label>
                                    <div class="form-group">
                                        <input type="text" class="form-control" [(ngModel)]="model.description" name="projectdescription"
                                            placeholder="Enter your project description" />
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-lg-7 col-md-6 col-sm-12">
                        <h6>Project Domain</h6>
                    </div>
                </div>

                <div class="row clearfix">
                    <div class="col">
                        <div class="card w_data_1">
                            <div class="body clickable" [ngClass]="{'active': domainML}" (click)="onClickML()">
                                <div class="w_icon">
                                    <img src="../../../assets/images/{{machinelearningicon}}.svg">
                                </div>
                                <h4 class="mt-3">Machine Learning</h4>
                            </div>
                        </div>
                    </div>
                    <div class="col">
                        <div class="card w_data_1">
                            <div class="body clickable" [ngClass]="{'active': !domainML}" (click)="onClickDL()">
                                <div class="w_icon">
                                    <img src="../../../assets/images/{{deeplearningicon}}.svg">
                                </div>
                                <h4 class="mt-3">Deep Learning</h4>

                            </div>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col" style="text-align: end;">
                        <button class="btn btn-primary" [disabled]="projectname.errors"
                            (click)="createProject()">Create Project</button>
                    </div>
                </div>
            </div>
        </div>
    </section>
</body>