 
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Comfortaa';
}
.table-responsive{
    padding: 10px;
}
#radio2{
      padding-right: 50px;
  }
.nbtn{
    padding-top: 25px;
}

.clickable:hover{
    cursor: pointer;
}

.red{
    color: red;
}

.active{
    color: #1967ff;
    background-color: #e8f0fe;
}

section.content{
    transition: all 0.5s;
    border-radius: 10px;
    background: #f5f5f5;
    border: 5px solid #fff;
    padding: 10px;
    position: relative;
    margin: 20px 20px 20px 260px;
    box-shadow: 0 0 16px rgb(41 42 51 / 6%), 0 6px 20px rgb(41 42 51 / 2%);
}