 
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
body {
    font-family: 'Comfortaa';
}
.table-responsive{
    padding: 10px;
}
#radio2{
      padding-right: 50px;
  }
.nbtn{
    padding-top: 25px;
}

.clickable:hover{
    cursor: pointer;
}

.active{
    color: #1967ff;
    background-color: #e8f0fe;
}