.cursor-p{
    cursor: pointer;
}

.quest{
    margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tsize{
    font-size: small;
}
.sp{
    padding-left: 15px;
    padding-right: 10px;
}

.active{
    border: 1px solid #e47297;
    color: #e47297;
}

.color{
    color: #28a745;
}

.red{
    color: red;
}

.small{
    font-size: small;
}