.cursor-p{
    cursor: pointer;
}

.quest{
    margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.tsize{
    font-size: small;
}