<app-navbar></app-navbar>

<section class="content">
    <div class="body_scroll">
        <div class="block-header">
            <div class="row">
                <div class="col-lg-7 col-md-6 col-sm-12">
                    <h2>Model</h2>
                </div>
            </div>
        </div>
        <div class="container-fluid">
            <!-- Draggable Handles -->
            <div class="row clearfix">
                <div class="col-lg-12 col-md-12 col-sm-12">
                    <div class="card">
                        <div class="header">
                            <h2><strong>LAYERS</strong></h2>
                        </div>
                        <div class="body">
                            <div class="col text-center" *ngIf="layerModel.length == 0">
                                No Layers
                            </div>
                            <div class="dd nestable-with-handle" *ngIf="layerModel.length != 0">
                                <kendo-sortable [kendoSortableBinding]="layerModel">
                                    <ng-template let-item="item">
                                        <ol class="dd-list">
                                            <li class="dd-item dd3-item">
                                                <div class="dd-handle dd3-handle"></div>
                                                <div class="dd3-content cursor-p" data-toggle="modal"
                                                    (click)="selectLayer(item)" data-target="#exampleModalLong">
                                                    {{ item.layerName }}
                                                </div>
                                            </li>
                                        </ol>
                                    </ng-template>
                                </kendo-sortable>
                            </div>
                            <div class="col text-center">
                                <button class="btn btn-primary" data-toggle="modal" data-target="#newModalLong">New
                                    Layer</button>
                                <button class="btn btn-success" [disabled]="layerModel.length == 0"
                                    (click)="generateModel()">Generate Model</button>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2><strong>TRAINING</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <div class="col">
                                    <label for="epoch">Epoch</label>
                                    <i style="cursor: pointer;" data-toggle="modal" data-target="#epoch"
                                        class=" quest fa fa-question-circle" aria-hidden="true"></i>
                                    <div class="input-group spinner">
                                        <input type="number" class="form-control text-center" name="epoch"
                                            [(ngModel)]="trainingData.epoch">
                                        <div class="input-group-append">
                                            <div class="input-group-text cursor-p" (click)="onEpochUp()"><i
                                                    class="zmdi zmdi-chevron-up"></i></div>
                                            <div class="input-group-text cursor-p" (click)="onEpochDown()"><i
                                                    class="zmdi zmdi-chevron-down"></i></div>
                                        </div>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="learningRate">Learning Rate</label>
                                    <i style="cursor: pointer;" data-toggle="modal" data-target="#learningRate"
                                        class=" quest fa fa-question-circle" aria-hidden="true"></i>
                                    <div class="input-group spinner">
                                        <input type="number" class="form-control text-center" name="Learningrate"
                                            [(ngModel)]="trainingData.learningRate">
                                        <div class="input-group-append">
                                            <div class="input-group-text cursor-p" (click)="onLearningRateUp()"><i
                                                    class="zmdi zmdi-chevron-up"></i></div>
                                            <div class="input-group-text cursor-p" (click)="onLearningRateDown()"><i
                                                    class="zmdi zmdi-chevron-down"></i></div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                            <br>
                            <div class="row">
                                <div class="col">
                                    <label for="batchSize">Batch Size</label>
                                    <i style="cursor: pointer;" data-toggle="modal" data-target="#batchSize"
                                        class=" quest fa fa-question-circle" aria-hidden="true"></i>
                                    <div class="input-group spinner">
                                        <select class="form-control show-tick ms" style="padding: 9px;" name="batchSize"
                                            [(ngModel)]="trainingData.batchSize">
                                            <option>16</option>
                                            <option>32</option>
                                            <option>64</option>
                                            <option>128</option>
                                            <option>256</option>
                                            <option>512</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col">
                                    <label for="lossFunction">Loss Function</label>
                                    <i style="cursor: pointer;" data-toggle="modal" data-target="#lossFunction"
                                        class=" quest fa fa-question-circle" aria-hidden="true"></i>
                                    <div class="input-group spinner">
                                        <select class="form-control show-tick ms" style="padding: 9px;" name="batchSize"
                                            [(ngModel)]="trainingData.lossFunction">
                                            <option>Binary Crossentropy</option>
                                            <option>Categorical Crossentropy </option>
                                            <option>Mean Absolute Error</option>
                                            <option>Mean Absolute Percentage Error</option>
                                            <option>Mean Squared Error</option>
                                            <option>Mean Squared Logarithmic Error</option>
                                            <option>Categorical Hinge Loss</option>
                                            <option>Huber loss value</option>

                                        </select>
                                    </div>
                                </div>
                            </div>
                            <br>
                            <div class="row">
                                <div class="col-6">
                                    <label for="optimizer">Optimizer</label>
                                    <i style="cursor: pointer;" data-toggle="modal" data-target="#optimizer"
                                        class=" quest fa fa-question-circle" aria-hidden="true"></i>
                                    <div class="input-group spinner">
                                        <select class="form-control show-tick ms" style="padding: 9px;" name="optimizer"
                                            [(ngModel)]="trainingData.optimizer">
                                            <option>Adam</option>
                                            <option>SGD</option>
                                            <option>RMSprop</option>
                                            <option>Adadelta</option>
                                            <option>Adagrad</option>
                                            <option>Adamax</option>
                                            <option>Nadam</option>
                                            <option>Ftrl</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="card">
                        <div class="header">
                            <h2><strong>Split the Dataset</strong></h2>
                        </div>
                        <div class="body">
                            <div class="row">
                                <label for="customRange1" class="sp form-label">Training </label>
                                <div>
                                    <input style="width: 700px;" type="range" class="form-range" id="customRange1">
                                </div>
                                <label for="customRange1" class="sp form-label">Testing </label>
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="modal fade" id="exampleModalLong" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLongTitle">{{selectedLayerData.layerName}}</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row">
                        <div class="col">
                            <label for="">Units</label>
                            <div class="input-group spinner">
                                <input type="number" class="form-control text-center" name="units"
                                    [(ngModel)]="selectedLayerData.units">
                                <div class="input-group-append">
                                    <div class="input-group-text cursor-p" (click)="onSpinUpUpdate()"><i
                                            class="zmdi zmdi-chevron-up"></i></div>
                                    <div class="input-group-text cursor-p" (click)="onSpinDownUpdate()"><i
                                            class="zmdi zmdi-chevron-down"></i></div>
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <label for="">Activation Function</label>
                            <div class="clearfix">
                                <select class="form-control show-tick ms" style="padding: 9px;"
                                    name="activationFunction" [(ngModel)]="selectedLayerData.activationFunction">
                                    <option>Default</option>
                                    <option>Relu</option>
                                    <option>Sigmoid</option>
                                    <option>Softmax</option>
                                    <option>Softplus</option>
                                    <option>Softsign</option>
                                    <option>Tanh</option>
                                    <option>Selu</option>
                                    <option>Elu</option>
                                    <option>Exponential</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
                <button type="button" class="btn btn-primary" data-dismiss="modal"
                    (click)="updateLayerData()">Update</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="newModalLong" tabindex="-1" role="dialog" aria-labelledby="newModalLongTitle"
    aria-hidden="true">
    <div class="modal-dialog modal-lg" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="newModalLongTitle">New Layer</h5>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">
                <form>
                    <div class="row" style="padding-bottom: 10px;">
                        <div class="col">
                            <label for="">Layer Name</label>
                            <div class="clearfix">
                                <select class="form-control show-tick ms" style="padding: 9px;" name="layerName"
                                    [(ngModel)]="newLayerData.layerName">
                                    <option>Dense</option>
                                    <option>Convolution2D</option>
                                </select>
                            </div>
                        </div>

                    </div>
                    <div class="row">
                        <div class="col">
                            <label for="">Units</label>
                            <div class="input-group spinner">
                                <input type="number" class="form-control text-center" name="units"
                                    [(ngModel)]="newLayerData.units">
                                <div class="input-group-append">
                                    <!-- <span class="input-group-text col" style="display: grid;"> -->
                                    <div class="input-group-text cursor-p" (click)="onSpinUp()"><i
                                            class="zmdi zmdi-chevron-up"></i></div>
                                    <div class="input-group-text cursor-p" (click)="onSpinDown()"><i
                                            class="zmdi zmdi-chevron-down"></i></div>
                                    <!-- </span> -->
                                </div>
                            </div>
                        </div>

                        <div class="col">
                            <label for="">Activation Function</label>
                            <div class="clearfix">
                                <select class="form-control show-tick ms" style="padding: 9px;"
                                    name="activationFunction" [(ngModel)]="newLayerData.activationFunction">
                                    <option>Default</option>
                                    <option>Relu</option>
                                    <option>Sigmoid</option>
                                    <option>Softmax</option>
                                    <option>Softplus</option>
                                    <option>Softsign</option>
                                    <option>Tanh</option>
                                    <option>Selu</option>
                                    <option>Elu</option>
                                    <option>Exponential</option>
                                </select>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                <button class="btn btn-primary" (click)="addLayer()" data-dismiss="modal">Add</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="epoch" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Epoch</h4>
            </div>
            <div class="tsize modal-body"> One epoch means that each and every sample in the training dataset has been
                fed through the training model at least once. If your epochs are set to 50, for example, it means that
                the model you are training will work through the entire training dataset 50 times. Generally the larger
                the number, the better your model will learn to predict the data.
                <br> You probably want to tweak (usually increase) this number until you get good predictive results
                with your model.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="learningRate" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Learning Rate</h4>
            </div>
            <div class="tsize modal-body">Be careful tweaking this number!
                <br>Even small changes can have huge effect on how well the model learns.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="batchSize" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Batch Size</h4>
            </div>
            <div class="tsize modal-body">A batch is a set of samples used in one iteration of training. For example,
                let's say that you have 80 images and you choose a batch size of 16. This means the data will be split
                into 80 / 16 = 5 batches. Once all 5 batches have been fed through the model, exactly one epoch will be
                complete. </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="lossFunction" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Loss Function</h4>
            </div>
            <div class="tsize modal-body"> At its core, a loss function is incredibly simple: it's a method of
                evaluating how well your algorithm models your dataset. If your predictions are totally off, your loss
                function will output a higher number. If they're pretty good, it'll output a lower number. </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>

<div class="modal fade" id="optimizer" tabindex="-1" role="dialog">
    <div class="modal-dialog" role="document">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="title" id="defaultModalLabel">Optimizer</h4>
            </div>
            <div class="tsize modal-body"> Optimizers are algorithms or methods used to change the attributes of your
                neural network such as weights and learning rate in order to reduce the losses. How you should change
                your weights or learning rates of your neural network to reduce the losses is defined by the optimizers
                you use.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-primary waves-effect" data-dismiss="modal">CLOSE</button>
            </div>
        </div>
    </div>
</div>