<div class="profile-page sidebar-collapse">
    <nav class="navbar navbar-transparent navbar-color-on-scroll fixed-top navbar-expand-lg" color-on-scroll="100"
        id="sectionsNav">
        <div class="container">
            <div class="navbar-translate">
                <a class="navbar-brand" href="https://www.creative-tim.com/product/material-kit/?partner=101249"
                    target="_blank">
                    Deep Learning Studio </a>
            </div>
        </div>
    </nav>
    <div class="page-header header-filter" data-parallax="true"> 
    </div>
    <div class="main main-raised">
        <div class="profile-content">
            <div class="container">
                <div class="row">
                    <div class="col-md-6 ml-auto mr-auto">
                        <div class="profile">
                            <div class="avatar">
                                <img src="https://images.unsplash.com/photo-1517365830460-955ce3ccd263?ixlib=rb-0.3.5&ixid=eyJhcHBfaWQiOjEyMDd9&s=d74712e9b31ac943d46541e6e6ed559f&auto=format&fit=crop&w=2661&q=80 2661w"
                                    alt="Circle Image" class="img-raised rounded-circle img-fluid">
                            </div>
                            <div class="name">
                                <h3 class="title">Christian Louboutin</h3>
                                <h6>Designer</h6>
                                <button type="button" class="btn btn-primary my-4">Start A New Project</button>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="description text-center">
                    <p>An artist of considerable range, Chet Faker &#x2014; the name taken by Melbourne-raised,
                        Brooklyn-based Nick Murphy &#x2014; writes, performs and records all of his own music, giving it
                        a warm, intimate feel with a solid groove structure. </p>
                </div>
                <div>
                    <h3>List Of Projects</h3>
                </div>
                <div class="plist">
                    <h4 class="pname">Project Name #1</h4>
                    <hr>
                    <h4 class="pname">Project Description</h4>
                    <p>this is the project description</p>
                </div>
                <div class="plist">
                    <h4 class="pname">Project Name #1</h4>
                    <hr>
                    <h4 class="pname">Project Description</h4>
                    <p>this is the project description</p>
                </div>
            </div>
        </div>
    </div>
    <footer class="footer text-center">
        <p>Deep Learning Studio</p>
    </footer>
</div>