.cursor-p{
    cursor: pointer;
}

.quest{
    margin-left: 10px;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

.style_active{
    display: block;
    transition: all 300ms ease 0s;
    color: #888;
    margin: 0;
    margin-right: 5px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #e47297;
    color: #e47297;
    border-radius: 30px;
    font-size: 12px;
    padding: 8px 23px;
    line-height: 1.5;
}

.style{
    display: block;
    transition: all 300ms ease 0s;
    color: #888;
    margin: 0;
    margin-right: 5px;
    background-color: rgba(0,0,0,0);
    border: 1px solid #888;
    border-radius: 30px;
    font-size: 12px;
    padding: 8px 23px;
    line-height: 1.5;
}

.tsize{
    font-size: small;
}
.sp{
    padding-left: 15px;
    padding-right: 10px;
}

.active_exp{
    color: #1967ff;
    background: white;
}

.active{
    border: 1px solid #e47297;
    color: #e47297;
}

.border-d {
    border-bottom: 2px solid;
    margin: 5px;
}

.color{
    color: #28a745;
}

.red{
    color: red;
}

.small{
    font-size: small;
}